[Unit]
Description=ddns-go service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/ddns-go -c /etc/ddns-go/config.yaml

[Install]
WantedBy=multi-user.target